/* ----------------------------------------------------------
    MAIN
---------------------------------------------------------- */

.border {
    width: 100%;
    height: 1px;
    border: 1px dashed #eee!important;
    margin: 10px 0;
}

legend {
    border-bottom: 1px solid #e5e5e5;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-check input, .form-check label {
    cursor: pointer;
}

/* PAY*/

.pay .geo {
    text-align: center;
}

.pay .geo div {
    padding-top: 8px;
}

.pay .payment .form-row .bootstrap-select {
    /* padding-left: 10px; */
    margin-left: 5px;
}

/* PAGE */

.page .border {
    margin: 15px 0;
}



.page .page-new button {
    display: block;
    margin-top: 25px;
}

.editing-deletion {
    padding: 0 5px;
    color: #10adf4c4;
    cursor: pointer;
    white-space: nowrap;
}

.editing-deletion i {
    padding: 0 2px;
}

.editing-deletion i:hover {
    color: #10adf4;
}

/* Bootstrap-slider */

.slider:hover .tooltip.in {
    opacity: 1!important;
}

/* selectpicker */

.bootstrap-select .btn {
    border: 1px solid #ced4da!important;
    color: #72777a!important;
    background-color: #fff;
}

.bootstrap-select .btn:hover {
    background-color: #e2e6ea;
}

/* ----------------------------------------------------------
    MEDIA
---------------------------------------------------------- */

@media (max-width: 767px) {
    .page .form-row div:first-child {
        text-align: left;
        /* color: #656565; */
        font-weight: bold;
    }
    .page .form-row {
        /* background-color: blue; */
        flex-direction: column;
    }
}
@media (max-width: 556px) {
    main {
        padding: 15px 10px 0px;
    }
}