/* ---------------------------------------------------
    TABLE
----------------------------------------------------- */

.table-wrap {
    width: 100%!important;
    overflow-x: auto!important;
}

.mainTable {
    color: #72777a!important;
    text-align: center;
    border-collapse: collapse;
}

fieldset>div {
    margin-bottom: 0;
    padding: 1rem 0;
    border-bottom: 1px dashed #eee!important;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

fieldset>div label {
    width: 180px;
}

.text-help p, .btn-order {
    margin-left: 180px;
}

fieldset>div div {
    width: 100%;
}

fieldset>div input, .text-help p {
    width: 480px!important;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 991px) {
    main {
        padding: 15px 10px;
    }
}

@media (max-width: 768px) {
    h4 {
        text-align: center;
    }
    .is-collapsed .page-container, .page-container {
        padding-left: 0;
    }
    main {
        font-size: 14px;
    }
    fieldset>div input, .text-help p {
        width: 100%!important;
    }
    .text-help p, .btn-order {
        margin-left: 0;
    }
    .btn-order button {
        margin: 0 auto;
        display: block;
    }
}