.bd {
    border: 1px solid rgba(0,0,0,.0625)!important;
}
.bgc-white, .bgcH-white:hover {
    background-color: #fff!important;
}

/*==================== Page OFFER - INFO ====================*/
.head-offers-info{
    margin: 15px 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.product-offer{
    margin: 15px 15px 0 0;
    width: 125px;
}
.product-offer img{
    width: 100%;
}
.head-body-info{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-wrap: wrap;
    flex-direction: column;
}
.page-holder {
    border-left: 1px solid #e4eaec;
    border-right: 1px solid #e4eaec;
}
.fa-edit{
    font-size: 13px;
}
.btn-outline-orange{
    margin: 15px 0;
    color: #fe602e;
    border-color: #fe602e;
}
.btn-outline-orange:hover{
    color: #fff;
    background-color: #fe602e;
    border-color: #fe602e;
}
.content-offers-info{
    padding-top: 25px;
    border-top: 1px solid #e5e5e5;
}
.offer-headline{
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 21px;
    font-size: 21px;
    line-height: inherit;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
.offer-description-content,
.offer-result-content{
    padding-bottom: 20px;
    margin-top: 20px;
}
.offer-description-content p,
.offer-result-content p{
    text-align: justify;
}
#news-offer-item {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px #dbd7d7;
}
.news-date {
    padding: 10px;
}
.goal-list {
    width: 100%;
    border-bottom: 1px dotted #ccc;
    padding: 5px 0;
    display: block;
}
.prokl-headline{
    width: 80%;
}
.lending-headline,
.prokl-headline{
    display: inline-block;
}
.lending-percent,
.prokl-percent{
    float: right;
}
.lending-percent span,
.prokl-percent span{
    font-weight: 600;
}
.text-warning{
    color: #fe602e!important;
}
.table-price{
    width: 100%;
}
.table-price tr th {
    text-align: center;
    padding: .75rem;
}
.table-price tr td {
    text-align: center;
    padding: .75rem;
    border-top: 1px solid rgba(0,0,0,.0625);
}
.traffic-left i{
    width: 15px;
    height: 15px;
}
.traffic-item{
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
}
.fa-check-circle{
  color: #05c703;
}
.fa-ban{
    color: #e00000 ;
}
.traffic-right{
    margin-left: 10px;
}
.traffic-right p{
    line-height: 25px;
    margin-bottom: 0;
}

.offer-platform > thead > tr > th,
.offer-city > thead > tr > th{
    border-bottom: 1px solid #e5e5e5;
    padding: 8px;
}
.offer-platform > tbody > tr > td,
.offer-city > tbody > tr > td{
    padding: 8px;
    border-bottom: 1px solid #e5e5e5;
}
#myChart{
    width: 100%;
}
.myblock{
    width: 500px;
    height: 800px;
}
