/* Взятые стили с билда */

body {
    font-size: 14px;
    color: #72777a;
    letter-spacing: .2px;
    overflow-x: hidden;
    font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Arial, sans-serif;
    line-height: 1.5;
    background-color: #f9fafb;
}

.bd {
    border: 1px solid rgba(0, 0, 0, .0625)!important;
}

.bgc-white, .bgcH-white:hover {
    background-color: #fff!important;
}

.bgc-grey-100, .bgcH-grey-100:hover {
    background-color: #f9fafb!important;
}

.gap-20>* {
    padding: 10px!important;
}

/* Перебивание стилей */

table#dataTable.dataTable tbody th, table#dataTable.dataTable tbody td {
    padding: 8px 5px;
}

table#dataTable.dataTable thead th, table#dataTable.dataTable thead td {
    padding: 8px 5px;
}

table#datatable#dataTable.dataTable thead .sorting, table#datatable#dataTable.dataTable thead .sorting_asc, table#datatable#dataTable.dataTable thead .sorting_desc {
    background: none;
}

table#dataTable.dataTable thead .sorting:after, table#dataTable.dataTable thead .sorting_asc:after, table#dataTable.dataTable thead .sorting_desc:after, table#dataTable.dataTable thead .sorting_asc_disabled:after, table#dataTable.dataTable thead .sorting_desc_disabled:after {
    content: none;
}

table#dataTable.dataTable thead .sorting:before, table#dataTable.dataTable thead .sorting_asc:before, table#dataTable.dataTable thead .sorting_desc:before, table#dataTable.dataTable thead .sorting_asc_disabled:before, table#dataTable.dataTable thead .sorting_desc_disabled:before {
    content: none;
}

table#dataTable.dataTable thead>tr>th.sorting_asc, table#dataTable.dataTable thead>tr>th.sorting_desc, table#dataTable.dataTable thead>tr>th.sorting, table#dataTable.dataTable thead>tr>td.sorting_asc, table#dataTable.dataTable thead>tr>td.sorting_desc, table#dataTable.dataTable thead>tr>td.sorting {
    padding-right: 5px;
}

.page-item.active .page-link {
    background: #7774e7;
    border-color: #7774e7;
    border-radius: 2px;
}

.page-link {
    margin: 0 2px;
    border: none;
}

.fixedHeader-floating {
    table-layout: auto!important;
}

/* End Перебивание стилей */

.mainList {
    justify-content: center;
    list-style: none;
    cursor: pointer;
    font-weight: 600;
}

.mainList li:hover {
    color: #000;
}

.form-inputs {
    justify-content: center;
}

.form-inputs div {
    margin: 0 20px;
}

.form-inputs .form-group {
    width: 15%;
}

.form-inputs .form-group label {
    cursor: pointer;
}

@media (max-width: 830px) {
    .form-inputs .form-group {
        width: 40%;
    }
    .form-inputs div {
        margin-bottom: 15px;
    }
}


.btns-main {
    width: 200px;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: calc( 50% - 100px);
}

.clearfix {
    content: '';
    display: block;
    clear: both;
}

.dop-inputs_inactive {
    display: none!important;
}

.fullSet {
    position: relative;
}

.fullSet-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0!important;
    padding: 0;
}

.fullSet-btn button {
    padding-left: 4px;
    padding-right: 4px;
}

.current-value .btn-light:not(:disabled):not(.disabled).active, .current-value .btn-light:not(:disabled):not(.disabled):active, .current-value .show>.btn-light.dropdown-toggle {
    color: #fff;
    background-color: #ff5722;
    border-color: #ff5722;
}

/* TABLE */

.mainTable {
    color: #72777a!important;
    text-align: center;
    overflow: auto!important;
}

.dataTables_wrapper {
    overflow: auto!important;
}

.dataTables_wrapper>.row {
    margin-left: 0;
    margin-right: 0;
}

.dataTables_wrapper>.row>* {
    padding: 0;
}

.mainTable thead tr:nth-child(2) {
    cursor: pointer;
}

.mainTable .fa-check-circle-o {
    color: #05c703;
}

.mainTable .fa-clock-o {
    color: #00a0ff;
}

.mainTable .fa-ban {
    color: #e00000;
}

.mainTable tbody tr td:nth-child(14), .mainTable tbody tr td:nth-child(19), .mainTable thead tr th:nth-child(14), .mainTable thead tr th:nth-child(19) {
    color: #05c703;
}

.mainTable tbody tr td:nth-child(15), .mainTable tbody tr td:nth-child(20), .mainTable thead tr th:nth-child(15), .mainTable thead tr th:nth-child(20) {
    color: #00a0ff;
}

.mainTable tbody tr td:nth-child(16), .mainTable tbody tr td:nth-child(21), .mainTable thead tr th:nth-child(16), .mainTable thead tr th:nth-child(21) {
    color: #e00000;
}

.mainTable tfoot tr th {
    border-top: 3px solid #dee2e6!important;
}

/* End TABLE */