/* ---------------------------------------------------
    TABLE
----------------------------------------------------- */

.mainTable {
    width: 100%!important;
    color: #72777a!important;
    text-align: center;
    overflow: auto!important;
}

.mainTable thead tr:nth-child(2) {
    cursor: pointer;
}

.mainTable .fa-check-circle-o {
    color: #05c703;
}

.mainTable .fa-clock-o {
    color: #00a0ff;
}

.mainTable .fa-ban {
    color: #e00000;
}

.mainTable tbody tr td:nth-child(14), .mainTable tbody tr td:nth-child(19), .mainTable thead tr th:nth-child(14), .mainTable thead tr th:nth-child(19) {
    color: #05c703;
}

.mainTable tbody tr td:nth-child(15), .mainTable tbody tr td:nth-child(20), .mainTable thead tr th:nth-child(15), .mainTable thead tr th:nth-child(20) {
    color: #00a0ff;
}

.mainTable tbody tr td:nth-child(16), .mainTable tbody tr td:nth-child(21), .mainTable thead tr th:nth-child(16), .mainTable thead tr th:nth-child(21) {
    color: #e00000;
}

.mainTable tfoot tr th {
    border-top: 3px solid #dee2e6!important;
}

/* Перебивание стилей TABLE */

table#dataTable.dataTable tbody th, table#dataTable.dataTable tbody td {
    padding: 8px 5px;
}

table#dataTable.dataTable thead th, table#dataTable.dataTable thead td {
    padding: 8px 5px;
}

table#datatable#dataTable.dataTable thead .sorting, table#datatable#dataTable.dataTable thead .sorting_asc, table#datatable#dataTable.dataTable thead .sorting_desc {
    background: none;
}

table#dataTable.dataTable thead .sorting:after, table#dataTable.dataTable thead .sorting_asc:after, table#dataTable.dataTable thead .sorting_desc:after, table#dataTable.dataTable thead .sorting_asc_disabled:after, table#dataTable.dataTable thead .sorting_desc_disabled:after {
    content: none;
}

table#dataTable.dataTable thead .sorting:before, table#dataTable.dataTable thead .sorting_asc:before, table#dataTable.dataTable thead .sorting_desc:before, table#dataTable.dataTable thead .sorting_asc_disabled:before, table#dataTable.dataTable thead .sorting_desc_disabled:before {
    content: none;
}

table#dataTable.dataTable thead>tr>th.sorting_asc, table#dataTable.dataTable thead>tr>th.sorting_desc, table#dataTable.dataTable thead>tr>th.sorting, table#dataTable.dataTable thead>tr>td.sorting_asc, table#dataTable.dataTable thead>tr>td.sorting_desc, table#dataTable.dataTable thead>tr>td.sorting {
    padding-right: 5px;
}

.page-item.active .page-link {
    background: #7774e7;
    border-color: #7774e7;
    border-radius: 2px;
}

.page-link {
    margin: 0 2px;
    border: none;
}

/* DATATABLE  */

.dataTables_wrapper {
    overflow: auto!important;
}

.dataTables_wrapper>.row {
    margin-left: 0;
    margin-right: 0;
}

.dataTables_wrapper>.row>* {
    padding: 0;
}

/* End TABLE ---------------------------------------------------------*/

/* Перебивание стилей при добавлении класса ACTIVE*/

.current-value {
    width: 85px;
}

.current-value .btn-light:not(:disabled):not(.disabled).active, .current-value .btn-light:not(:disabled):not(.disabled):active, .current-value .show>.btn-light.dropdown-toggle {
    color: #fff;
    background-color: #ff5722;
    border-color: #ff5722;
}

/* ---------------------------------------------------
    All
----------------------------------------------------- */

.clearfix {
    content: '';
    display: block;
    clear: both;
}

.bdtn {
    border-top: none!important;
}

#nav-myTab a:hover {
    color: #000;
}

.form-inputs .form-group label {
    cursor: pointer;
}

.btns-main {
    width: 200px;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: calc( 50% - 100px);
}

.dop-inputs {
    border-top: 1px solid #efefef;
}

.dop-inputs_inactive {
    display: none!important;
}

.partners>div {
    position: relative;
}

.partners-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0!important;
    padding: 0;
}

.partners-btn button {
    padding-left: 4px;
    padding-right: 4px;
}

.nav-tabs {
    border-bottom: 1px solid #efefef;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: #efefef #efefef #fff;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (min-width: 576px) {
    .helpmenu {
        padding: 20px!important;
    }
}

@media (min-width: 992px) {
    .form-grid-md {
        width: 20%;
        padding-right: 15px;
        padding-left: 15px;
        max-width: 20%;
    }
    .dop-grid-md {
        position: relative;
        max-width: 33.3333333%;
        padding-right: 15px;
        padding-left: 15px;
        flex: 0 0 33.3333333%;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        max-width: 33.3333333%;
    }
    .dop-inputs {
        /* margin: 0; */
    }
}

@media (max-width: 992px) {
    .form-inputs {
        box-sizing: content-box!important;
    }
}
@media (max-width: 768px) {
    div.dataTables_wrapper div.dataTables_paginate ul.pagination{
        justify-content: center;
    }
}
@media (max-width: 576px) {
    main {
        font-size: 14px;
        padding: 55px 5px 5px;
    }
    .helpmenu .row {
        margin-right: 0;
        margin-left: 0;
    }
    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        flex-direction: column;
        align-items: center;
    }
    .dataTables_filter label, .dataTables_length label {
        display: flex;
        flex-direction: column;
    }
    .dataTables_filter label input {
        margin-left: 0!important;
    }
}