/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Arial, sans-serif;
    line-height: 1.5;
    color: #72777a;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

table a,
table a:hover,
table a:focus {
    color: #0056b3;
    text-decoration: underline;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.sidebar {
    height: 100%;
    position: fixed;
    min-width: 240px;
    max-width: 240px;
    background: #ffffff;
    color: #292828;
    z-index: 999;
    overflow: hidden;
    transition: all .3s;
    border-right: 1px solid rgba(0, 0, 0, .0625);
}

.sidebar ul.components {
    padding: 20px 0;
}

.sidebar ul p {
    color: #fff;
    padding: 10px;
}

.sidebar ul li a {
    display: flex!important;
    font-size: 18px;
    font-weight: 500;
    padding: 7px 15px;
    position: relative;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    color: #505050;
    background: #efefef;
}

.sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: none;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.logo {
    line-height: 2.5;
    font-size: 25px;
    color: #72777a;
}

.page-container {
    width: 100%;
    min-height: 100vh;
    padding-left: 240px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}


/* ---------------------------------------------------
Header
------------------------------------------------------ */

.header {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .0625);
    display: block;
    margin-bottom: 0;
    padding: 0;
    position: fixed;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: calc(100% - 240px);
    z-index: 800;
}

.header .container-fluid>ul {
    align-items: center;
    flex-wrap: nowrap;
}

.header .container-fluid {
    padding-right: 60px!important;
}

.navbar {
    padding: 4px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.btns-exit {
    position: absolute;
    right: 10px;
    top: 15px;
    align-items: center;
}

.header .manager {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .manager>img {
    width: 40px;
    padding-right: 5px;
}


/* ---------------------------------------------------
    header button
----------------------------------------------------- */

.circle {
    background-color: white;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 59px;
    left: calc( 50% - 10px);
    border-radius: 50%;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    cursor: pointer;
    display: none;
    transition: all 0.3s;
    z-index: 801;
}

.circle i {
    padding-top: 6px;
}

.circle:hover i {
    font-weight: 600;
}

.circle:hover {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.46);
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

main {
    padding: 75px 15px 15px;
}

.sidebar-link {
    display: flex!important;
}

.sidebar-menu>li>a .icon-holder {
    border-radius: 6px;
    display: inline-block;
    font-size: 17px;
    height: 35px;
    left: 0;
    line-height: 35px;
    margin-right: 14px;
    position: relative;
    text-align: center;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    width: 35px;
}

.sidebar-menu>li>a {
    display: block;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 15px;
    position: relative;
    white-space: nowrap;
}

li>a .icon-holder {
    padding-left: 9px;
    padding-right: 8px;
    border-radius: 6px;
    display: inline-block;
    font-size: 18px;
    height: 35px;
    left: 0;
    line-height: 35px;
    position: relative;
    text-align: center;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    padding: 0 9px;
}

li>a .title {
    margin-left: 25px;
    padding-top: 3px;
}

.logo-img {
    width: 69px;
    height: 66px;
}

li a {
    color: #72777a;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}


/*colors*/

.c-deep-purple-500,
.cH-deep-purple-500:hover {
    color: #673ab7!important;
}

.c-blue-500,
.cH-blue-500:hover {
    color: #2196f3!important;
}

.c-brown-500,
.cH-brown-500:hover {
    color: #795548!important;
}

.c-deep-orange-500,
.cH-deep-orange-500:hover {
    color: #ff5722!important;
}

.c-indigo-500,
.cH-indigo-500:hover {
    color: #3f51b5!important;
}

.c-pink-500,
.cH-pink-500:hover {
    color: #e91e63!important;
}

.c-light-blue-500,
.cH-light-blue-500:hover {
    color: #03a9f4!important;
}

.bgc-white,
.bgcH-white:hover {
    background-color: #fff!important;
}

.bd {
    border: 1px solid rgba(0, 0, 0, .0625)!important;
}

.p-20 {
    padding: 20px!important;
}

.c-grey-900,
.cH-grey-900:hover {
    color: #313435!important;
}

.gap-20>* {
    padding: 10px!important;
}

.mB-20 {
    margin-bottom: 20px!important;
}

.btn-sidebar {
    color: #72777a;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-sidebar:focus,
.btn-sidebar.focus {
    outline: 0;
}

.closebtn {
    display: none;
}

.center {
    padding: 10px;
    text-align: center;
    font-size: 15px;
}

.pT-20 {
    padding: 5px;
}

.users {
    display: flex;
    justify-content: center;
}

.users img {
    width: 40px;
    height: 40px;
    /* margin-top: -30px; */
    margin-right: 5px;
    font-size: 40px;
}

.dropdown button {
    color: rgba(22, 20, 20, 0.5);
}

.myLineChart {
    height: 400px!important;
}

.myLineChart {
    max-width: 100%;
    max-height: 400px;
}

.wrap-head-page {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

@media (min-width:1176px) and (max-width:1350px) {
    .sidebar {
        min-width: 230px;
        max-width: 230px;
    }
    .header {
        width: calc(100% - 230px);
    }
    .page-container {
        padding-left: 230px;
    }
    .header .container-fluid {
        padding: 0;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .2rem;
        padding-left: .2rem;
    }
    .header .main-info {
        font-size: 13px;
    }
    .header .manager {
        font-size: 14px;
    }
}
@media (min-width:1191px) and (max-width:1250px) {
    .header .manager {
        padding: 0 .75rem;
    }
    .header .manager>div {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width:992px) and (max-width:1190px) {
    .center {
        font-size: 13px;
    }
    .header .manager {
        padding: 0 .75rem;
    }
    .header .manager>div {
        display: flex;
        flex-direction: column;
    }
    .header .main-info {
        flex-direction: column;
        align-items: start!important;
        font-size: 13px;
    }
    .header .main-info a {
        padding: 0 .5rem;
    }
}

@media (min-width:992px) {
    .is-collapsed .sidebar:hover {
        min-width: 250px;
        max-width: 250px;
    }
    .sidebar .sidebar-header,
    .is-collapsed .sidebar:hover .sidebar-header {
        border-bottom: 1px solid rgba(0, 0, 0, .0625);
        width: 100%;
    }
    .is-collapsed .page-container {
        padding-left: 70px;
    }
    .is-collapsed .sidebar .sidebar-header {
        border-bottom: 1px solid transparent;
    }
    .is-collapsed .header {
        width: calc(100% - 70px);
    }
    .is-collapsed .sidebar {
        min-width: 70px;
        max-width: 70px;
    }
    .is-collapsed .sidebar a .title {
        display: none;
    }
    .is-collapsed .sidebar:hover a .title {
        display: inline-block;
    }
    .is-collapsed .logo {
        display: none;
    }
    .is-collapsed .sidebar:hover .logo {
        display: block;
    }
}

@media (max-width: 991px) {
    .header {
        position: relative;
        width: 100%;
        align-items: start;
        height: 70px;
        flex-flow: wrap;
    }
    .header .main-info {
        display: none;
        transition: all .5s;
        padding: .35rem 0;
        opacity: 0;
        order: 2;
        max-width: 70%;
    }
    .header .manager-wrapper {
        display: none;
        transition: all .5s;
        opacity: 0;
        order: 1;
        max-width: 30%;
    }
    .header .manager-wrapper .dropdown-menu {
        position: absolute!important;
    }
    .header.openHeader {
        height: 135px;
    }
    .header.overflow-initial {
        overflow: initial;
    }
    .btns-exit {
        top: 13px;
    }
    .btns-exit .exit i {
        font-size: 20px;
    }
    .btns-exit .exit:last-child i {
        font-size: 25px!important;
    }
    .header .manager>img {
        width: 35px;
    }
    .header .manager>div {
        font-size: 14px;
    }
    .header.openHeader .container-fluid {
        padding-right: 0!important;
    }
    .header.openHeader .container-fluid>ul:first-child {
        width: 100%;
        border-bottom: 1px solid #00000012;
    }
    .circle.openHeader {
        top: 124px;
    }
    .circle {
        display: flex;
    }
    .graf {
        display: none;
    }
    .header.openHeader .manager-wrapper {
        display: block;
    }
    .header.openHeader .main-info {
        display: flex;
        align-items: flex-start;
    }
    .header.visibl-info .main-info,
    .header.visibl-info .manager-wrapper {
        opacity: 1;
        margin-top: 10px;
    }
    .header.openHeader .main-info a.nav-link {
        padding: .4rem;
    }
    .header .exit {
        padding-right: 10px;
    }
    .sidebar.active {
        margin-left: 0;
    }
    .sidebarCollapse span {
        display: none;
    }
    .navbar-nav {
        flex-direction: initial;
    }
    .ml-auto,
    .mx-auto {
        margin-left: initial!important;
    }
    main {
        padding: 15px 15px 0;
    }
    .sidebar .sidebar-header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, .0625);
        padding-bottom: 1px;
    }
    .sidebar {
        z-index: 9999;
        min-width: 250px;
        max-width: 250px;
        margin-left: 0;
    }
    .is-collapsed .sidebar {
        margin-left: -250px;
    }
    .closebtn {
        color: #72777a;
        display: block;
        padding: 15px 0;
        font-size: 26px;
        margin-right: 10px;
        z-index: 99999;
        cursor: pointer;
    }
    .page-container {
        padding-left: 0;
    }
    .mT-30 .d-flex {
        display: inline!important;
    }
    .btn-sidebar {
        font-size: 2rem;
    }
    .block-chart {
        display: none;
    }
}

@media (max-width: 768px) {
    .header.openHeader .container-fluid {
        flex-direction: column!important;
        padding-right: 0!important;
    }
    .header.openHeader .main-info {
        flex-direction: column;
    }
    .header.openHeader .main-info a.nav-link {
        padding: 0;
    }
    .header.visibl-info .main-info,
    .header.visibl-info .manager-wrapper {
        margin-top: 0;
    }
    .header.openHeader {
        height: 200px;
    }
    .circle.openHeader {
        top: 189px;
    }
    .header .main-info,
    .header .manager-wrapper {
        max-width: 100%;
    }
}