/*Page STREAMS*/

.bd {
    border: 1px solid rgba(0, 0, 0, .0625)!important;
}

.table-streams {
    border-collapse: collapse;
    width: 100%;
}

.table-streams tr th {
    text-align: center;
    padding: .75rem;
}

.table-streams tr td {
    text-align: center;
    padding: .75rem;
    border-top: 1px solid rgba(0, 0, 0, .0625);
    background-color: #f2f2f2;
}

.input-offers {
    min-width: 150px;
    width: 245px;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    outline: none;
}

.btn-sours {
    padding: .275rem .55rem;
    font-size: 0.85rem;
    line-height: 1.5;
}

.btn-links {
    color: #117a8b;
    border: 1px solid #117a8b;
    background: #f2f2f2;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 14px;
    padding: 0 8px;
}

.btn-links:hover {
    color: #ffffff;
    border: 1px solid#6c757d;
    background: #6c757d;
}

button:focus {
    outline: none;
}

.modal-body {
    text-align: center;
}

.images-offers img {
    width: 60px;
}

.set-fa {
    padding-right: 10px;
}

.setting-offers {
    min-width: 135px;
}

.setting-offers button {
    margin: 0 2px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #17a2b8 !important;
    outline: none !important;
    -webkit-box-shadow: 0 0 0 0.1rem rgba(33, 150, 243, .25) !important;
    box-shadow: 0 0 0 0.1rem rgba(33, 150, 243, .25) !important;
}


/*для кнопок в таблице*/

.btn-mini {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid #6c757d;
    padding: 2px 7px;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .25rem;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.btn-outline-edit {
    color: #fe602e;
    border-color: #fe602e;
}

.btn-outline-edit:hover {
    color: #fff;
    background-color: #fe602e;
}

.btn-outline-add {
    color: #17a2b8;
    border-color: #17a2b8;
}

.btn-outline-add:hover {
    color: #fff;
    background-color: #17a2b8;
}

.btn-outline-delete {
    color: #dc3545;
    border-color: #dc3545;
}

.btn-outline-delete:hover {
    color: #fff;
    background-color: #dc3545;
}

.form-group {
    margin: 0 10px;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 165px;
}

.bootstrap-select>.dropdown-toggle {
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem .375rem 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #72777a;
    background-color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    background-clip: padding-box;
    border-bottom: 1px solid #17a2b8;
}

.btn:focus,
.btn:active {
    box-shadow: none !important;
}

input:focus,
input:active {
    box-shadow: none !important;
}

.bootstrap-select .dropdown-toggle:focus,
.dropdown-toggle:active,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: none !important;
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
    color: #54595c;
    background-color: #fafafa;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #17a2b8;
}

.form-control {
    border: 1px solid #117a8b;
}


/* THE END Page STREAMS*/